.container{
  display: flex;
  flex-direction: column;
}

.contentContainer{
  display: flex;
  gap: 30px;
}

.content{
  flex: 5;
}

.title {
  font-size: 96px;
  font-weight: 300;
  margin-bottom: 50px;
}

.imageContainer {
  height: 500px;
  position: relative;
}

.img {
  object-fit: cover;
  box-shadow: var(--image-shadow);
}

.text{
  text-align: justify;
  margin: 30px 0;
}


.subtitle {
  margin: 30px 0;
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 64px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 48px;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 36px;
  }
}