.items {
  display: flex;
  gap: 30px;
}

.globe,
.smart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageContainer{
  padding: 20px;
}

.img {
  box-shadow: var(--image-shadow);
  padding: 10px;
}

.contactNumber {
  color: gray;
  font-size: 32px;
}

.callBtn{
  font-size: 18px;
}

.callBtn:hover{
  text-decoration: underline;
}

.csntBtn{
  padding: 5px;
  max-width: max-content;
  max-height: max-content;
  border-radius: 5px;
  border: 1px solid;

}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 64px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 48px;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 36px;
  }

  .items {
    flex-direction: column;
  }

  .globe,
  .smart {
    width: 100%;
    height: max-content;
  }
}
